:root {
    --cor-de-fundo: #EBECEE;
}
body {
    background-color: var(--cor-de-fundo);
}
h1 {
    background-color: white;
}
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}
@import url("styles/header.css");
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}
.cabeçalho {
    background-color: var(--branco);
}

